.popup-add-note {

}

.popup-add-note__popup {
  display: none;
  position: fixed;
  width: 500px;
  left: calc(50% - 250px);
  top: 30px;
  background: white;
  z-index: 9;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.popup-add-note__popup_on {
	display: block;
}

.popup-add-note__mask {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
}

.popup-add-note__mask_on {
	display: block;
}

.popup-add-note__section {
	font-size: 0;
	margin: 20px 0;
	text-align: right;
}

.popup-add-note__label {
	font: 1rem/1.2 Arial, sans-serif;
	color: #333;
	width: 33.33%;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
}

.popup-add-note__input {
	font: 1rem/1.2 Arial, sans-serif;
	color: #333;
	width: 66.66%;
	display: inline-block;
	vertical-align: middle;
	border: .15rem solid orange;
	border-radius: 5px;
	padding: 7px 12px;
	text-align: left;
}

.popup-add-note__submit {
	display: inline-block;
	vertical-align: middle;
	border: .15rem solid orange;
	padding: .8rem 1rem;
	font: 1rem/1 Arial, sans-serif;
	color: white;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: .01rem;
	background: orange;
	cursor: pointer;
	&:active {
		background: white;
		color: orange;
	}
}

.popup-add-note__close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 0;
	background-color: transparent;
	cursor: pointer;
	&::before, &::after {
		content: "";
		position: absolute;
		width: 30px;
		height: 2px;
		background-color: #333;
		top: 19px;
		left: 5px;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}