<div class="popup-add-note">
	<div class="popup-add-note__popup" element="popup">
		<p class="">
			<label for="lastname">Фамилия</label>
			<input type="text" name="lastname">
		</p>
		<p class="">
			<label for="firstname">Имя</label>
			<input type="text" name="firstname">
		</p>
		<p class="">
			<label for="phone">Телефон</label>
			<input type="text" name="phone">
		</p>
		<p class="">
			<label for="email">Примечание<label>
			<input type="text" name="email">
		</p>
		<input type="submit" name="" value="сохранить">
	</div>
	<div class="popup-add-note__mask" element="mask"></div>
</div>