<tr class="note">
	<td class="note__item">
		<input class="note__input" type="text" name="lastname" element="lastname">
	</td>
	<td class="note__item">
		<input class="note__input" type="text" name="lastname" element="firstname">
	</td>
	<td class="note__item">
		<input class="note__input" type="text" name="lastname" element="phone">
	</td>
	<td class="note__item">
		<input class="note__input" type="text" name="lastname" element="email">
	</td>
	<td class="note__item">
		<button class="note__button" type="button" element="change">
			Изменить
		</button>
	</td>
	<td class="note__item">
		<button class="note__button" type="button" element="delete">
			Удалить
		</button>
	</td>
</tr>
