.controls {
	padding: 1rem 0;
	display: flex;
}

.controls__stretch {
	flex-grow: 1;
}

.controls__button {
	display: inline-block;
	vertical-align: middle;
	border: .15rem solid orange;
	padding: .8rem 1rem;
	font: 1rem/1 Arial, sans-serif;
	color: white;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: .01rem;
	background: orange;
	cursor: pointer;
	margin-left: 1rem;
	&:active {
		background: white;
		color: orange;
	}
}

.controls__input {
	border: .15rem solid orange;
	padding: .8rem 1rem;
	font: 1rem/1 Arial, sans-serif;
	border-radius: 5px;
}